* {
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    overflow-y: auto; 
}

.centralizado {
    left: 50%;
    transform: translate(-50%);
}

.barra1 {
    border: 0.1rem solid black;
    height: 1.5rem;
    margin-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0rem;
    margin-left: 4.1rem;
    width: 94.7%;
}

.barra1 p {
    margin-right: 4.8rem;
}

#txtEmprestimo {
    position: absolute;
    top: 2.5rem;
    right: 29.7rem;
    font-size: 1.4rem;
}

#emprestimos {
    align-self: center;
    padding-right: 0.3rem;
}

.barraLateral {
    border: 0.1rem solid black;
    height: 17rem;
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute; 
    top: 0rem; 
    left: 0rem; 
}

.barraLateral img {
    width: 3rem;
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
}

.barraLateral p {
    font-size: 0.7rem; 
    text-align: center; 
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

#imgInicio {
    align-self: flex-start;
    cursor: pointer;
}

#txtInicio {
    color: black;
    cursor: pointer;
}

#imgEmprestimos {
    align-self: center;
    padding-right: 0.3rem;
    cursor: pointer;
}

#txtEmprestimos {
    color: black;
    font-size: 0.6rem;
    margin-top: 0.1rem;
    padding-bottom: 2rem;
    cursor: pointer;
    text-decoration: underline;
}

#imgSeja {
    position: absolute;
    align-self: flex-end;
    cursor: pointer;
    left: 0.6rem;
    bottom: 3.3rem;
}

#txtSeja {
    color: black;
    padding-bottom: 1.3rem;
    cursor: pointer;
}

#txtEmpresPessoal {
    position: absolute;
    top: 6.5rem;
    left: 4.5rem;
    font-size: 1.2rem;
}

#txtNota {
    font-size: 0.8rem;
    width: 15rem;
    position: absolute;
    margin-left: 60rem;
    top: 2rem;
}

#txtLoremEmpresP {
    position: absolute;
    top: 9rem;
    left: 4.5rem;
}

#txtEmpresCons {
    position: absolute;
    top: 17rem;
    left: 0.3rem;
    font-size: 1.2rem;
}

#txtLoremEmpresC {
    position: absolute;
    top: 19.5rem;
    left: 0.3rem;
}

.calculadora {
    border: 0.1rem solid black;
    height: 18rem;
    width: 99.75%;
    margin-top: 0rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    position: absolute;
    top: 29rem;
    left: 0.01rem;
}

#txtSim {
    position: absolute;
    margin-left: 13rem;
    margin-bottom: 17rem;
    font-size: 2rem;
}

#txtTipoEmp {
    position: absolute;
    margin-left: 5.8rem;
    margin-bottom: 10rem;
    font-size: 1.8rem;
}

#txtValorEmp {
    position: absolute;
    margin-left: 5.18rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

#txtQuantidade {
    position: absolute;
    margin-left: 2.6rem;
    margin-top: 10rem;
    font-size: 1.8rem;
}

#txtValorAproximado {
    position: absolute;
    margin-left: 48.8rem;
    margin-bottom: 14.8rem;
    text-align: center;
    font-size: 2rem;
}

#txtResultado {
    position: absolute;
    margin-left: 49.8rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem;
}

#btnSejaNosso {
    padding: 0.7rem 1rem; 
    font-size: 1.5rem;
    border: 0.01rem solid black;
    background-color: white; 
    color: black;  
    position: absolute;
    bottom: 1rem;
    right: 13.4rem;
}

#btnSejaNosso:hover {
    background-color: gray;
}

#btnSejaNosso:active {
    background-color: darkgray;
}

#tipoEmprestimo {
    position: absolute;
    display: inline-block;
    left: 23rem;
    top: 4.5rem;
    z-index: 3;
}

#chkTipoEmprestimo {
    display: none;
}

.btnDropdown {
    padding: 0.7rem 0.4rem;
    font-size: 1rem;
    border: 0.1rem solid black;
    cursor: pointer;
    border-radius: 0.5rem;
    padding-left: 16.6rem;
    z-index: 1;
}


.dropdownConteudo {
    z-index: 2;
    background-color: white;
    display: none;   
    position: absolute;
    margin-top:0.7rem;
    margin-left: 0.5rem;
}

#chkTipoEmprestimo:checked + .btnDropdown + .dropdownConteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.01rem solid black;
}


.conteudoTipoEmprestimo {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
    font-size: 1rem;
    border: 0rem solid black;
    background-color: white; 
    color: black;
    width: 17.1rem;
}

.conteudoTipoEmprestimo:hover {
    background-color: gray;
}

.conteudoTipoEmprestimo:active {
    background-color: darkgray;
}

#valorEmprestimo {
    position: absolute;
    display: inline-block;
    left: 23rem;
    top: 8.5rem;
    z-index: 2; 
}


#chkValorEmprestimo {
    display: none;
}

#chkValorEmprestimo:checked + .btnDropdown + .dropdownConteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.01rem solid black;
    z-index: 1; 
}

.conteudoValorEmp {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
    font-size: 1rem;
    border: 0rem solid black;
    background-color: white; 
    color: black;
    width: 17.1rem;
    z-index: 1;
}

.conteudoValorEmp:hover {
    background-color: gray;
}

.conteudoValorEmp:active {
    background-color: darkgray;
}

.inputParcelas {
    position: absolute;
    display: inline-block;
    left: 23rem;
    bottom: 2.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.7rem 0.4rem;
    font-size: 1rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    width: 17.1rem; 
    z-index: 1;
}

#txtPerguntasFreq {
    position: absolute;
    font-size: 2rem;
    top: 46.5rem;
    left: 30rem;
}

.perguntasFreq {
    display: inline-block;
}

#per1 {
    position: absolute;
    left: 2rem;
    top: 55rem;
}



#chkPerguntas1 {
    display: none;
}

.btnPerguntas {
    z-index: -1;
    padding: 0.7rem 0.4rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.dropdownConteudoPerguntas {
    display: none;
    width: 70rem;
    padding-left: 1rem;
    z-index: 1;
    background-color: white;
    border: 0.01rem solid black;
}

#chkPerguntas1:checked + .btnPerguntas + .dropdownConteudoPerguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: white;
}

#per2 {
    position: absolute;
    left: 2rem;
    top: 58rem;
    z-index: -1;
}

#chkPerguntas2 {
    display: none;
}

#chkPerguntas2:checked + .btnPerguntas + .dropdownConteudoPerguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: white;
}

#per3 {
    position: absolute;
    left: 2rem;
    top: 61rem;
    z-index: -2;
}

#chkPerguntas3 {
    display: none;
}

#chkPerguntas3:checked + .btnPerguntas + .dropdownConteudoPerguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: white;
}

#per4 {
    position: absolute;
    left: 2rem;
    top: 64rem;
    z-index: -3;
}

#chkPerguntas4 {
    display: none;
}

#chkPerguntas4:checked + .btnPerguntas + .dropdownConteudoPerguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: white;
}





.caixaRedes {
    border: 0.1rem solid black;
    display: flex;
    align-items:start;
    justify-content: row;
    width: 99.7%;
    height: 10rem;
    position: absolute;
    top: 72rem;
    left: 0.09rem;
    margin-bottom: 2rem;
}

.caixaRedes #txt1 {
    position: absolute;
    flex: center;
    margin-top: 0.1rem;
    font-size: 1.6rem;
}

.caixaRedes #txt2 {
    position: absolute;
    flex: center;
    margin-top: 2.6rem;
    font-size: 1.2rem;
}

.caixaRedes #txt3 {
    position: absolute;
    flex: start;
    margin-top: 4.7rem;
}

.caixaRedes #txt4 {
    position: absolute;
    flex: start;
    margin-top: 7.6rem;
    margin-right: 1rem;
    font-size: 1.8rem;
}

.caixaRedes #instagram {
    position: absolute;
    flex: start;
    width: auto;
    height: 2rem;
    margin-top: 7.8rem;
    margin-left: 6rem;
}

.caixaRedes #txtInstagram {
    position: absolute;
    flex: start;
    width: auto;
    height: 2rem;
    margin-top: 8.21rem;
    margin-left: 8.2rem;
    font-size: 1.1rem;
}

.caixaRedes #facebook {
    position: absolute;
    flex: start;
    width: auto;
    height: 2rem;
    margin-top: 7.8rem;
    margin-left: 26rem;
}

.caixaRedes #txtFacebook {
    position: absolute;
    flex: start;
    width: auto;
    height: 2rem;
    margin-top: 8.21rem;
    margin-left: 28.2rem;
    font-size: 1.1rem;
}

.caixaRedes #linkedin {
    position: absolute;
    flex: start;
    width: auto;
    height: 2rem;
    margin-top: 7.8rem;
    margin-left: 46rem;
}

.caixaRedes #txtLinkedin {
    position: absolute;
    flex: start;
    width: auto;
    height: 2rem;
    margin-top: 8.21rem;
    margin-left: 48.2rem;
    font-size: 1.1rem;
}

.caixaRedes #youtube {
    position: absolute;
    flex: start;
    width: auto;
    height: 2rem;
    margin-top: 7.8rem;
    margin-left: 66rem;
}

.caixaRedes #txtYoutube {
    position: absolute;
    flex: start;
    width: auto;
    height: 2rem;
    margin-top: 8.21rem;
    margin-left: 68.2rem;
    font-size: 1.1rem;
}